<div class="fixed top-0 left-0 w-full h-screen bg-cover bg-center" style="background-image: url('path/to/your/background-image.jpg')">
  <canvas 
    data-controller="text-effect"
    data-texts='["Fkerias", "Midline", "Field", "Sweet Spot", "Health"]'
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  ></canvas>
</div>